.profileInfo{
  margin: 20px auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 60%;
  border-radius: 5px;
  padding: 1rem;
  box-shadow: 2px -4px 10px 1px rgba(0, 0, 0, 0.2);
  background-color: #f9f9f9;
}
.profileInfo h1{
  font-weight: 200;
}
.info{
  font-size: 16px;
  font-weight: bold;
  color: rgba(12, 89, 161, 0.493);
}
.btn {
  outline: none;
  cursor: pointer;
  padding: 0.5rem 1rem;
  background: rgba(6, 134, 253, 0.493);
  color: white;
  border: none;
  font-size: 20px;

  transition: ease-in-out 0.3s;
}
.btn:hover {
  transform: translateY(-1px);
  box-shadow: 4px 3px 10px 1px rgba(0, 0, 0, 0.2);
  color: rgba(6, 134, 253, 0.493);
  background: white;
}
.image{
  position: relative;
  margin: 0 20vw;
  border-radius: 100%;
  width: 300px;
  height: 300px;

}
.imgContainer {
  position: relative;
}

.imgText {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

.imgContainer:hover .imgText {
  visibility: visible;
  opacity: 1;
}
